{% extends 'base/base.html' %}
{% load static %}

{% block block_head %}
<title>SnapSocial</title>
<link rel="icon" type="image/png" href="{% static 'img/logo.png' %}"/>
{% if user.is_authenticated %}

<link rel="stylesheet" href="{% static 'css/auth.css' %}">

{% else %}

<link rel="stylesheet" href="{% static 'css/not_auth.css' %}">

{% endif %}
{% endblock %}

{% block block_body %}
{% if user.is_authenticated %}

<header class="header">
    <a href="{% url 'home' %}" class="logo"><img src="{% static 'img/logo.png' %}" alt="Logo" width="40" height="40"></a>
    <nav>
      <ul class="menu">
        <li><a href="{% url 'logout' %}">Sair</a></li>
      </ul>
    </nav>
  </header>

{% else %}

<a id="signup" href="{% url 'signup' %}">Inscrever-se</a>
<a id="login" href="{% url 'login' %}">Entrar</a>

{% endif %}
{% endblock %}
