#signup {
    background-color: #693b8a;
    color: white;
    padding: 0.5em;
    border: 1px solid #693b8a;
    border-radius: 0.3rem;
    text-decoration: none;
}

body {
    background-color: #171717;
}

#login {
    background-color: #693b8a;
    color: white;
    padding: 0.5em;
    border: 1px solid #693b8a;
    border-radius: 0.3rem;
    text-decoration: none;
}
